@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nippo-Variable";
  src: url("../src/assets/fonts/Nippo-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Silkscreen-Bold";
  src : url("../src/assets/fonts/Silkscreen-Bold.ttf")
  
}
@font-face {
  font-family: "Silkscreen-Regular";
  src : url("../src/assets/fonts/Silkscreen-Regular.ttf")
}
@font-face {
  font-family: "VT323-Regular";
  src : url("../src/assets/fonts/VT323-Regular.ttf")
}
/* Minimal Scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 4px; /* Thin scrollbar */
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5); /* Subtle color */
  border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8);
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Hide track */
}

.vertical-writing
{
  writing-mode: vertical-rl;
  text-orientation: upright;
} 

.clip-polygon {
  clip-path: polygon(0% 20%, 20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%);
}